---
// This area is the Component Script (Frontmatter).
// It is enclosed by '---' and runs on the server.
// You can import components, fetch data, or define variables here.
const pageTitle = "About Us";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle} - Upitieu</title>
  </head>
  <body>
    <h1>{pageTitle}</h1>
    <p>Welcome to the about page for upitieu.com!</p>
    <a href="/">Go back home</a>
  </body>
</html>
